<div class="home">
    <img class="back-image" src="assets/icons/backgroung.svg"
      alt="">
    <img class="front-image" src="assets/icons/backgroung.svg"
    alt="">
    <div class="card">
        <section class="header">
            <h4>Welcome Back</h4>
            <h1>Login to your account</h1>
        </section>
        <section class="inputContainer">
            <form [formGroup]="loginForm" class="formContainer" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter your username" autofocus formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div class="error" *ngIf="f['username'].errors['required']">Username is required</div>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="password">Password</label>
                    <div style="display: flex;align-items: center;">
                        <input style="width: 95%;" [type]="showPassword ? 'text' : 'password'"
                         type="password" placeholder="Enter your password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                        <img style="height: 20px;
                         width: 20px;
                         margin-left: -30px;cursor:pointer" 
                         (click)="showPassword = true" *ngIf="!showPassword" src="assets/icons/show.png" alt="">
                        <img style="height: 20px;
                         width: 20px;
                         margin-left: -30px;cursor:pointer"
                         (click)="showPassword = false" *ngIf="showPassword" src="assets/icons/hide.png" alt="">
                    </div>
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div class="error" *ngIf="f['password'].errors['required']">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" >
                        <span *ngIf="loading" class="loading"></span>
                        Login
                    </button>
                    <div class="register">
                        Not registred yet? 
                        <a routerLink="/register" class="regLink">Register</a>
                    </div>
                    
                </div>
            </form>
        </section>       
    </div>
</div>

