
.pdfViewArea{
    width: 80vw;
    margin: 10vh auto;
    height: auto;
    #pdfContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .unsupported{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                height: 60vh;
            }
            span{

            }
        }
    }
}
.docHeader{
    border-bottom: 1px solid var(--my-gray);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .docDetailsAndBreadcrumb{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;
            img{
                height: 35px;
                width: 35px;
                border-radius: 10px;
            }
            h2{
                margin: 0px;
            }
        }
    }
    div{

        nav{
            margin: 0px 0px 0px 35px;
            a{
                text-decoration: none;
                color:#9f9f9f;
                height: 30px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: bold;
                padding: 5px 10px;
                &:hover{
                    background-color: #334bfa;
                    color: white;
                }
            }
            .bread{
                margin-left: 10px;
                font-size: 15px;
                font-weight: bold;
                color:#9f9f9f;
            }
        }
    }
    .profileSection{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .userList{

        }
        .gotoHome{
            border: 1px solid black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: #334bfa;
                border-color:  #334bfa;
                box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.4);
                transition: 0.5s ease;
                img{
                    filter: invert(100%) sepia(53%) saturate(0%) hue-rotate(41deg) brightness(104%) contrast(100%);
                }
            }
            img{
                height: 25px;
                width: 25px;
            }
        }
        .user{
            border: 1px solid black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: #334bfa;
                border-color:  #334bfa;
                box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.4);
                transition: 0.5s ease;
                img{
                    filter: invert(100%) sepia(53%) saturate(0%) hue-rotate(41deg) brightness(104%) contrast(100%);
                }
            }
            img{
                height: 30px;
                width: 30px;
            }
        }
    }

}
.profilePopUp{
    background-color: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: absolute;
    right: 3vw;
    top: 13vh;
    align-items: center;
    padding: 20px;
    gap: 5px;
    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    span{
        font-weight: bold;
    }
    .allUserList{
        // display: flex;
        // flex-direction: column;
        height: 100px ;
        overflow: hidden;
        overflow-y: scroll;
        border-top: 1px solid #9a9a9a;
        &::-webkit-scrollbar{
            display: none;
        }
        .userCard{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 40px;
            border-bottom: 1px solid #9a9a9a;
            cursor: pointer;
            img{
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }
            span{
                font-size: 12px;
            }
            &:hover{
                background-color: #5272d329;
                cursor: pointer;
                transform: scale(1.03);
                
            }
            &:active{
                transform: scale(0.97);
                background-color: #334bfa;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                span{
                    color: white !important;
                }
            }
        }
    }
    .signOut{
        color: white;
        border: none;
        background-color: var(--my-blue);
        margin: 20px;
        height: 35px;
        width: 80px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            transform: scale(1.03);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }
}